@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Playfair+Display:ital@0;1&display=swap');

.Meet {
    margin-top: 5%;
    padding-bottom: 5%;
}


.greeting {
    text-align: center;
    font-size: 55px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    color: black;
    border: 3px solid rgb(255, 125, 147);
    width: auto;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(255, 125, 147);
    color: white;
}

.who-i-am {
    display: flex;
    padding-top: 5%;
}

.who-i-am img{
    display: block;
    max-height: 600px;
    margin-left: 25%;
    border: 13px solid rgb(255, 125, 147);
}

.who-i-am p {
    background-color: rgb(255, 125, 147);
    padding-left: 10%;
    text-align: center;
    padding-top: 5%;
    padding-right: 10%;
    color: white;
    font-size: 25px;
    max-width: 40%;
} 


@media screen and (max-width: 480px) {
    .Meet {
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .greeting {
        font-size: 25px;
    }

    .who-i-am {
        flex-direction: column;
        padding-top: 0%;
    }

    .who-i-am img{
        max-width: 100%;
        height: 400px;
        margin: auto;
        padding-left: 20%;
        padding-right: 20%;    
    }

    .who-i-am p{
        max-width: 100%;
        font-size: 20px;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: auto;
    }
}