.pvcontainer {
    max-width: 100%;
    max-height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pvcontainer h2 {
    text-align: center;
    margin: 0 auto;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(255, 102, 153);
    color: white;
}

.videos_section1 {
    padding-top: 5%;
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 80%;
}

.videos_section2 {
    padding-top: 5%;
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 80%;
}

.video1 {
    border: 13px solid rgb(255, 102, 153);
}

.video2 {
    border: 13px solid rgb(255, 102, 153);
}

.video3 {
    border: 13px solid rgb(255, 102, 153);
}

.video4 {
    border: 13px solid rgb(255, 102, 153);
}

.video5 {
    border: 13px solid rgb(255, 102, 153);
}

.video6 {
    border: 13px solid rgb(255, 102, 153);
}

.video7 {
    border: 13px solid rgb(255, 102, 153);
}

.video8 {
    border: 13px solid rgb(255, 102, 153);
}


@media screen and (max-width: 480px) {

    .pvcontainer {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .pvcontainer h2 {
        font-size: 25px;
    }

    .videos_section1 {
        justify-content: space-around;
        display: flex;
        margin: 0 auto;
        margin-top: 10%;
    }

    .videos_section2{
        margin-top: -10%;
    }

    .video2 {
        margin-top: 10%;
    }

    .video3 {
        margin-top: 10%;
    }

    .video4 {
        margin-top: 10%;
    }

    .video5 {
        margin-top: 10%;
    }

    .video6 {
        margin-top: 10%;
    }

    .video7 {
        margin-top: 10%;
    }

    .video8 {
        margin-top: 10%;
    }







}